.frontispieceContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.imageWrapper{
    display: flex;
    justify-content: space-between;
}

.imageContainer{
    background: gray;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.image{
    background: white;
    width: 650px;
    height: 380px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}