.footer {
  display: flex;
  justify-content: space-between;
  border-top: .5px solid white;
  min-width: 100%;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: end;
}
