.frontispieceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 100vh;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.image {
  width: 600px;
  height: 730px;
  background: lightblue;
}

.textContainer {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}


.textButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
